//profile section
@use '../mixins' as m;
@use '../variables' as v;

.profile {
    @include m.card-border(v.$color-bg-surface);
    background-color: v.$color-bg-surface;
    padding: v.$space-lg;
    margin-bottom: v.$space-lg;
    display: flex;
    flex-direction: column;
    gap: v.$space-lg;
    align-items: center;
    text-align: center;  // ensure children text centers horizontally


    &__media {
        // width: 100%;
        max-width: 800px;
        overflow: hidden;
        border-radius: 0.5rem;
    }

    &__image {
        width: 100%;
        height: auto;
        display: block;

        &--featured {
            object-fit: cover;
        }
    }

    &__content {
        flex: 1;
        width: 100%;
        max-width: 600px; // constrain width for readability
    }

    &__title {
        font-weight: bold;
        font-size: 1.875rem;
        margin-bottom: v.$space-md;
        margin-top: 0;
    }

    &__description {
        line-height: 1.6;
        margin-bottom: v.$space-md;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
